body
 {
//	background-image:url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/1603C/production/_110527109_gettyimages-1164950999.jpg");
	background-repeat:no-repeat;
	background-size:cover;
 }

/* Footer */
#footer
 {
	margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #577308;
    text-align: center;
 }

.footermargin
 {
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
 }

#footerlinks
 {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    height: 20px;
 }

#footerlinks li
 {
    font: normal 0.8em Arial, Helvetica, sans-serif;
    display: inline;
    letter-spacing: 1px;
    border-right: #ffffff 1px solid;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
 }

#footerlinks li a
 {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
 }

#footerlinks li a:hover
 {
    color: #FFF;
    text-decoration: underline;
    background-color: transparent;
 }

#footerlinks ul li.last
 {
    border-right-width: 0px;
 }

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}